<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Account Info</title>
</head>
<body>
	<a href="index.html">Home</a>
	<a href="signup.html">Create an Account</a>
	<a href="login.html">Log In</a>
	<a href="cart.html">Your Cart</a>
	<a href="account.html">Your Account</a>
	<%# TODO: add account info, pulled from db %>
</body>
</html>

<%# TODO: CSS styling %>
