<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Jacuzzi Floozies — For All Your Hot-Tub Rental Needs!</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
</head>
<body>
	<h1>Welcome to Jacuzzi Floozies</h1><br />
	<div class="header-bar">
		<a class="bar-start" href="index.html">Home</a>
		<a href="signup.html">Create an Account</a>
		<a href="login.html">Log In</a>
		<a href="cart.html">Your Cart</a>
		<a class="bar-end" href="account.html">Your Account</a>
		<div class="search">
			<form action="search.html">
				<input type="text" placeholder="Search...">
				<button type="submit">Submit</button>
			</form>
		</div>
	</div>
</body>
</html>

<%# TODO: product assortment from database; search function %>
<%# TODO: CSS styling %>
