<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Sign Up</title>
</head>
<body>
	<a href="index.html">Home</a>
	<a href="signup.html">Create an Account</a>
	<a href="login.html">Log In</a>
	<a href="cart.html">Your Cart</a>
	<a href="account.html">Your Account</a>
	<form action="login.rb" method="get">
		<p>Login: <input type="text" name="login"></p>
		<p>Password: <input type="text" name="passwd"></p>
		<p><input type="submit" name="submit" value="OK" /></p>
	</form>
	<p><a href="login.html">Already have an account with us? Click Here</a></p>
</body>
</html>

<%# TODO: Save user login info in a hash table, and profile info in a database %>
<%# TODO: CSS styling %>
